.App {
  text-align: center;
}

.headerSearchBar{
  background-color: #002147;
}

.headerText{
  font-style: italic;
  text-align: left;
  padding:0.625rem;
  border:1px solid #002147;
  border-bottom: none;
}